@model MES.Models.masteruser

<div class="card mt-5">
    <div class="card-header bg-secondary text-white">Update Data @* as @Accessor.HttpContext.Session.GetString("Username") with role = @Accessor.HttpContext.Session.GetInt32("Role")*@</div>
    <div class="card-body">

        @using (Html.BeginForm("UpdateaccountMES", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            @Html.HiddenFor(m => m.ID_User)


            <div class="mb-3">
                <label for="Username" class="form-label">Username</label>
                @Html.TextBoxFor(m=>m.Username, new{@class="form-control"})
            </div>

            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                @Html.TextBoxFor(m=>m.Password, new{@class="form-control"})
            </div>

            <div class="form-group">
                <label for="Station_ID" class="form-label">Station ID</label>
                @Html.DropDownListFor(m=>m.Station_ID, ViewBag.stationID as SelectList, "Pilih Station", new {@class="form-control"})
            </div>

            <div class="form-group">
                <label for="User_Level" class="form-label">User Level</label>
                @Html.DropDownListFor(m=>m.User_Level, ViewBag.userLevel as SelectList, "Pilih User Level", new {@class="form-control"})
            </div>
            <div class="modal-footer">

                <a href="/Admin/accountMES" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary ">Submit</button>
            </div>

        }

    </div>
</div>
